<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SmartLabsNative.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A5099C952F5C681CAF940689EC122B871540E03E</string>
				<key>dateExpires</key>
				<string>2026-07-24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>63QJN3W2HF.com.smartlabs.native</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>63QJN3W2HF</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SmartLabsNative.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>22ebb7d5-0798-45e0-a65b-00efa386958a</string>
				<key>dateExpires</key>
				<string>2026-07-24</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.smartlabs.native</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>63QJN3W2HF</string>
				<key>name</key>
				<string>RENATA ALEXANDERS PONCE PAREDES</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
